@use './partials/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $bg-primary;
}

main {
    max-width: 1290px;
    margin: auto;
}

